.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 22px;
  height: 22px;
  background-color: var(--primary);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-close:hover .icon-close {
  opacity: .7;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity .3s ease-in-out;
}