:root {
  --accent: #FAAF3F;
  --accentContent: #FFFFFF;
  --accentSecondary: #FFFFFF;
  --background: #F8F8FB;
  --text: #343434;
  --black: #131313;
  --darkText: #3E3E3E;
  --disabled: #898989;
  --input: #F0F0F0;
  --primary: #FFFFFF;
  --white: #FFFFFF;
  --inputBackground: #F8F8FB;
  --selectShadow: 0px 3px 4px rgb(0 0 0 / 10%);
  --errorColor: #FF0000;
  --warningColor: #FFC700;
  --successColor: #36CE00;
}