@import './libs/bootstrap';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--text);
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -.0015em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

a {
  text-decoration: none !important;
}

.divider {
  height: 0.3px;
  width: 100%;
  background-color: gray;
  opacity: .2;
}