.signUpModal {
  width: 400px !important;
  padding: 30px;
}

.signUp {
  &__title {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: .0007em;
    margin-top: 0;
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  &__descr {
    margin-bottom: 20px;
  }
  &__input {
    font-size: 14px;
    letter-spacing: -.0015em;
    position: relative;
    width: 100%;
    padding: 14px 16px;
    line-height: 1;
    color: var(--text);
    background-color: var(--inputBackground);
    border-radius: 8px;
    border: 1px solid var(--inputBackground);
    outline: none;
    z-index: 1;
    margin-bottom: 24px;
  }
  &__btn {
    padding: 15px 16px;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -.0015em;
    width: 100%;
    padding: 21px 24px;
    color: var(--accentContent);
    background-color: var(--accent);
    border: none;
    border-radius: 8px;
    transition: transform .3s ease-in-out;
    font-weight: 500;
  }
  &__btn-or {
    background-color: var(--disabled);
    margin-top: 20px;
  }
  &__label {
    display: block;
    margin-bottom: 8px;
    color: var(--disabled);
    font-weight: 400;
  }
  &__error {
    margin-top: -15px;
    margin-bottom: 20px;
    color: red;
  }
}