.slider {
  &__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1;
    letter-spacing: .37px;
    color: var(--text);
  }
  &__wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__inner {
    display: flex;
    width: 200%;
  }
  &__slide {
    height: 200px;
    width: 17% !important;

    @media (width <= 1400px) {
      width: 18% !important;
    }
  
    @media (width <= 1300px) {
      width: 250px !important;
    }
  
    @media (width <= 1024px) {
      width: 25% !important;
    }
  
    @media (width <= 768px) {
      width: 30% !important;
    }
  
    @media (width <= 576px) {
      width: 38% !important;
    }
    &-img {
      position: absolute;
      height: 100%;
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  &__slide:hover {
    transform: scale(1.03);
  }
  &__counter {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 15px;
  }
  &__counter-btn {
    transform: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 4px;
    z-index: 1;
    border: none;
    transition: background-color 0.3s;
  }
  &__counter-btn:hover {
    background-color: var(--accent);
  }
  &__counter-btn:not(:last-child) {
    margin-right: 5px;
  }
  &__counter-next-img {
    transform: rotate(180deg);
    margin-top: -5px;
  }
}

.mySwiper {
  position: static;
}

.svg-image {
  fill: #faaf3f;
  transition: fill 0.3s;
}

.slider__counter-btn:hover .svg-image {
  fill: #fff;
}

.fix-display {
  margin-top: 4px;
}

.SliderModal {
  width: 566px;
  &__time {
    font-size: 12px;
    line-height: 1.33;
    position: absolute;
    top: 32px;
    left: 32px;
    display: block;
    padding: 7px 8px;
    background-color: var(--background);
    border-radius: 4px;
    z-index: 10;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 22px;
    height: 22px;
    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    outline: none;
    transition: opacity .3s ease-in-out;
    z-index: 10;
    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__close:hover {
    opacity: .7;
  }
  &__img-wrapper {
    height: 335px;
    height: 100%;
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__descr-wrapper {
    padding: 40px 32px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: .0007em;
    margin-bottom: 28px;
    margin-top: 0;
    padding-right: 12px;
    font-weight: 700;
  }
  &__text {
    padding-right: 12px;
    color: var(--darkText);
    white-space: pre-wrap;
  }
}