.header {
  background-color: var(--primary);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 190px;
    height: 72px;
  }
  &__profile__wrapper {
    display: flex;
  }
  &__profile__loyalty-wrapper {
    margin-right: 30px;
    padding-right: 22px;
    text-align: right;
    border-right: 1px solid var(--input);
  }
  &__profile__loyalty-points {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -.0031em;
    color: var(--accent);
    font-weight: 500;
  }
  &__profile__loyalty-text {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -.0031em;
    color: var(--disabled);
    cursor: pointer;
  }
  &__profile__icon {
    cursor: pointer;
    margin-right: 20px;
  }
  &__profile__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.location {
  display: flex;
  cursor: pointer;
  margin-top: 8px;
  &__img {
    margin-top: -10px;
    margin-right: 10px;
  }
  &__adress {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -.0031em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: pre-wrap;
  }
}
.options {
  display: flex;
  align-items: center;
  &__languages {
    border: 0;
    width: 87px;
    cursor: pointer;
  }
  &__login {
    width: auto;
    padding: 16px 24px;
    margin-left: 16px;
    background-color: var(--inputBackground);
    border: 0;
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }
  &__login a {
    color: var(--text);
  }
  &__login:hover a {
    color: var(--text);
  }
  &__login:hover {
    transform: scale(1.03);
  }
}